.projectsBlock {
    width: 100%;
    min-height: 100vh;
    background-color: #818099;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    background-color: lightsteelblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
