.mainBlock {
    background-color: lightsteelblue;
    height: 100vh;
}

.textContainer {
    width: 300px;
    background-color: lightgray;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightgray;
}
