@import 'src/components/common/styles/sass/variables';
@import 'src/components/common/styles/sass/mixins';

.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .menu {
    width: 400px;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      @include text(montserrat, 15px, 600, $textColorPrimary, 2.1);
      letter-spacing: .8px;
      cursor: pointer;

      &:hover {
        color: $themeColor;
      }
    }

    .active {
      color: $themeColor;
    }
  }

  @media screen and (max-width: 450px) {
    display: none;
  }
}




